* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 512px) {
    .ui-computer-container {
        display: none;
    }

    .ui-phone-container {
        padding: 8px;
        display: block;
    }
}

@media only screen and (min-width: 512px) {
    .ui-computer-container {
        display: block;
    }

    .ui-phone-container {
        display: none;
    }
}

.ui-computer-container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding: 16px;
}

.wrapper {
    padding: 16px 26px;
    margin: auto;
    border-radius: 12px;
    background-color: white;
    width: 70vw;
    height: 100%;
    min-height: 100vh;
}

.personal-information-wrapper {
    box-sizing: content-box;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 8px;
    height: 168px;
    display: flex;
    justify-content: space-around;
}

.contact-methods {
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-methods a {
    text-decoration: none;
    font-size: 32px;
    color: black;
    background: white;
    border-radius: 50%;
}

.top-contact,
.bottom-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-contact {
    margin-top: 16px;
}

.carrer-and-skills-wrapper,
.education-and-certification-container {
    display: flex;
    justify-content: space-between;
}

.career-objectives-wrapper {
    margin-top: 16px;
    background-color: antiquewhite;
    border-radius: 12px;
    padding: 16px;
    width: fit-content;
}

.career-objectives-wrapper li {
    margin-top: 16px;
}

.skills-container {
    margin-top: 16px;
    padding: 12px;
    width: 70%;
    background-color: antiquewhite;
    height: fit-content;
    border-radius: 8px;
}

.skills-wrapper {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.sub-skills-wrapper {
    width: 50%;
    margin: 0 8px;
}

.skill {
    margin-top: 18px;
}

.skill-name {
    font-weight: bold;
    font-size: 16px;
    margin: 5px 0;
}

.skill-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.skill-per {
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -30px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -15px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.education-wrapper {
    margin-top: 16px;
    background-color: antiquewhite;
    width: 50%;
    border-radius: 8px;
    padding: 16px 32px;
}

.certifications-wrapper {
    margin-top: 16px;
    background-color: antiquewhite;
    width: 45%;
    border-radius: 8px;
    padding: 16px 24px;
}

.working-experience-wrapper {
    margin-top: 16px;
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 16px 24px;
    min-height: 512px;
}